version: "3.9"

services:
  node1:
    build : .
    container_name: node01
    hostname: node01
    ports:
      - "8481:8480" # Docker
      - "9871:9870" # HTTP UI
      - "8081:8088" # Yarn
    command: sleep infinity
    volumes:
    - ./jn1:/opt/data/journalnode
    - D:\ITI\Hadoop\Project\shared:/opt/hadoop/etc/hadoop
    - D:\ITI\Hadoop\Project\shared:/root/.ssh
    - ./nn1:/shared/nn
    networks:
      - cluster-network

  node2:
    build : .
    container_name: node02
    hostname: node02
    ports:
      - "8482:8480"
      - "9872:9870"
      - "8082:8088"
    command: sleep infinity
    volumes:
    - ./jn2:/opt/data/journalnode
    - D:\ITI\Hadoop\Project\shared:/opt/hadoop/etc/hadoop
    - D:\ITI\Hadoop\Project\shared:/root/.ssh
    - ./nn2:/shared/nn
    networks:
      - cluster-network

  node3:
    build : .
    container_name: node03
    hostname: node03
    ports:
      - "8483:8480"
      - "9873:9870"
      - "8083:8088"
    command: sleep infinity
    volumes:
    - ./jn3:/opt/data/journalnode
    - D:\ITI\Hadoop\Project\shared:/opt/hadoop/etc/hadoop
    - D:\ITI\Hadoop\Project\shared:/root/.ssh
    - ./dn3:/shared/dn
    networks:
      - cluster-network

  node4:
    build : .
    container_name: node04
    hostname: node04
    ports:
      - "8484:8480"
      - "9874:9870"
      - "8084:8088"
    command: sleep infinity
    volumes:
    - ./dn4:/shared/dn
    - D:\ITI\Hadoop\Project\shared:/root/.ssh
    networks:
      - cluster-network

  node5:
    build : .
    container_name: node05
    hostname: node05
    ports:
      - "8485:8480"
      - "9875:9870"
      - "8085:8088"
    command: sleep infinity
    volumes:
    - ./dn5:/shared/dn
    - D:\ITI\Hadoop\Project\shared:/root/.ssh
    networks:
      - cluster-network

networks:
  cluster-network:
    driver: bridge
